:root{
    /* fonst */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* colors */
    --accent-txt-cl: #2196F3;
    --main-txt-cl: #212121;
    --secondary-txt-color: #757575;
    --secondary-txt-color-footer: rgba(255, 255, 255, 0.6);
    --color-button: #F5F4FA;
    --footer-txt-color:#fff;

     /* bg colors */
    --accent-bg-cl: #188CE8;
    --main-bg-cl: #2F303A;
    --secondary-bg-color: #757575;
    --third-bg-color: #F5F4FA;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --form-button-color: #2196F3;
    --form-focus-button-color: #188CE8;

    /* border colors */
    --border-color: #ECECEC;
    --our-clients-border-accent: #2196F3;
    --focus-form-border-color: #2196F3;
    --form-border-color: rgba(255, 255, 255, 0.3);

    /* icons-colors */
    --icons-primary: #AFB1B8;
    --icons-secondary: #ffffff;

    /* transition timing function */
    --cubic-primary: cubic-bezier(0.4, 0, 0.2, 1);
}

/* primary rules */
body{
    color: var(--main-txt-cl);
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
padding: 0px;
margin: 0px;
}

img{
    display: block;
}

.section{
    padding: 94px 0;
}

.list{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sections-headers{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
    .header{
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__navigation{
    display: flex;

    align-items: center;
}

/* logo */
.logo{
    margin-right: 93px;

    font-family: var(--secondary-font);
    text-decoration:none ;
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
}

.logo--primary{
    color: #000;
}


.logo--inversed{
    color: #fff;
}

/* navigation bar */

.navigation{

    display: flex;
    align-items: center;
}

 .navigation__item{
    position: relative;
}


.navigation__item:not(:first-child){
    margin-left: 50px;
}


.header__contacts.list{
    margin-left: auto;
}


.navigation__link{
    display: block;
    text-decoration: none;
    color: var(--main-txt-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;

    transition: 
    color 250ms var(--cubic-primary),
    opacity-;
}

.navigation__link:hover, 
.navigation__link:focus{
    color: var(--accent-txt-cl);
}

.active::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-bg-cl);
    
}




/* contacts */

.header__contacts{
    display: flex;
    justify-content: center;
}

.header__contacts .header__address{
    text-decoration: none;
    color: var(--secondary-txt-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding: 32px 0;

    transition: color 250ms var(--cubic-primary);
}



.header__contacts .header__address:hover ,
.header__contacts .header__address:focus{
    color: var(--accent-txt-cl);
}

.header__contacts .header__item:not(:first-child){
margin-left: 50px;
}

.header__contacts {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header__img--mail{
    fill: currentColor;
    margin-right: 10px;
}

.header__img--tel{
    fill: currentColor;
    margin-right: 10px;
}

.header__address:hover .header__img--mail,
.header__address:focus .header__img--tel {
    fill: var(--accent-bg-cl);
}

/* buttons */
.button{
    font-family: inherit;
    cursor: pointer;
}

.button-primary{
    border: 0px;
    color: var(--main-txt-cl);
    background-color: var(--color-button);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    min-width: 73px;
    min-height: 38px;
    padding: 6px 22px;

    transition: color 250ms var(--cubic-primary), 
    background-color 250ms var(--cubic-primary),
    box-shadow 250ms var(--cubic-primary);
}

.button-primary:hover,
.button-primary:focus {
    background-color: var(--accent-txt-cl);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary {
    background-color: var(--accent-txt-cl);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    margin-top: 30px;
    
    transition: 
    background-color 250ms var(--cubic-primary),
    box-shadow 250ms var(--cubic-primary);
    
    
}

.button-secondary:hover,
.button-secondary:focus {
    background: var(--accent-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* section hero */
.section-hero{
    background-color:var(--main-bg-cl);
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
     url(../image/studio-page/hero-background.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   
    text-align: center;

    padding: 200px 0;

}

.section-hero__header{
    max-width: 696px;
    margin: 0  auto;

    color:#fff;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.section-hero__button{
    width: 216px;
    height: 50px;
    border-radius: 4px; 
    border: none;
    padding: 10px 0;
}

/* section hero modal */

.backdrop{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);

    transform: scale(1);
    opacity: 1;

    transition: 
    transform 250ms var(--cubic-primary),
    opacity 250ms var(--cubic-primary);
}

.hero-modal{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    opacity: 1;

    background-color: #fff;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    transition: 
    opacity 250ms var(--cubic-primary), 
    transform 250ms var(--cubic-primary),
}

.hero-modal__header{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

    margin-bottom: 12px;
}

.hero-modal__label{
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
    
    color: var(--secondary-txt-color);
}

.hero-modal__input{
    width: 100%;
    height: 40px;
    padding-left: 42px; 
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    
    transition: border-color 250ms var(--cubic-primary);
}

.hero-modal__input:focus{
    border-color: var(--focus-form-border-color);
}

.hero-modal__thumb{
    position: relative;
    margin-bottom: 10px;
}

 .hero-modal__comment{
    display: block;
    resize: none;
    padding: 12px 16px;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

 .hero-modal__comment:focus{
    border-color:var(--focus-form-border-color)
}

 .hero-modal__comment::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.terms__thumb{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.terms__input{
    appearance: none;
}

.terms__custom{
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right:  7px;

}

.terms__input:checked ~ .terms__custom{
    background-image: url(../image/icons/check.svg);
    background-size: contain;
    border: none;
}

.terms{
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.terms__link{
    color: var(--accent-txt-cl);
    margin-left: 4px;
}

.button-submit{
    display: block;
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    border: none;

    background-color: var(--form-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms var(--cubic-primary);
}

.button-submit:focus,
.button-submit:hover{
    background-color: var(--form-focus-button-color);  
}


.hero-modal__img{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    transition: fill 250ms var(--cubic-primary);
}

.hero-modal__input:focus + .hero-modal__img{
    fill: var(--accent-txt-cl);
}


.button-close{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.button-close__image{
    width: 18px;
    height: 18px;     

    transition: fill 250ms var(--cubic-primary);
}

.button-close:hover .button-close__image, 
.button-close:focus .button-close__image{

    fill: var(--accent-txt-cl);
}

.is-hidden{
    visibility: hidden;
    pointer-events: none;

    opacity: 0;
}

.is-hidden .modal {
    opacity: 0;
    transform: scale(0.8);
}

/* benefits descriprion section */

.section-benefits__list{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.section-benefits__item {
    flex-basis: calc((100% - 90px) / 4);
}


.visually-hidden{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
 
}

.section-benefits__thumb{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--third-bg-color);
    border-radius: 4px;
}

.section-benefits__header {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.section-benefits__description {
    color: var(--secondary-txt-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about us */

.section-servise{
    padding-top: 0;
}

.section-servise__flexbox{
    display: flex;
    gap: 30px;
}

.sections-headers--servise{
    margin-bottom: 50px;
}

.section-servise__thumb{
    position: relative;
    width: 100%;
    height: 100%;
}


.section-servise__img{
    display: block;
}   

.section-servise__thumb--description{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
}

.section-servise__description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;

}

/* our team */


.section-team{
    background-color: var(--third-bg-color);
}
.section-team__flexbox{
    display: flex;
    gap: 30px;
}

.section-team__item{
    background-color:#fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
}
.section-team__wrap{
    padding: 30px 0;
}

.sections-headers--team{
    margin-bottom: 50px;
}

.section-team__name{
    margin-bottom: 10px;

    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.section-team__postion{
    text-align: center;
    color: var(--secondary-txt-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.social{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-team{
margin-top: 16px;
}

.social__link--team{
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    color: var(--icons-primary);

    transition: color 250ms var(--cubic-primary), 
    background-color 250ms var(--cubic-primary);
}

.social__link--team:hover,
.social__link--team:focus{
    background-color: var(--accent-bg-cl);
    color: var(--icons-secondary);
}


.social__icons--team{
    width: 20px;
    height: 20px;
    fill: currentColor;

}
.social__team {
    margin-top: 16px;
}

/* our clients */


.sections-headers--clients{
    margin-bottom: 50px;
}

.section-clients__flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-clients__item{
    width: 170px;
    height: 92px;
}

.section-clients__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--icons-primary);
    border: 1px solid #AFB1B8;
    border-radius: 4px;     

    transition: 
    border 250ms var(--cubic-primary),
    color 250ms var(--cubic-primary);
}

.section-clients__link:hover,
.section-clients__link:focus{
    border: 1px solid var(--our-clients-border-accent);
    color: var(--our-clients-border-accent);

}

.section-clients__img{
    width: 106px;
    height: 60px;

    fill: currentColor;
    
    transition:
    fill 250ms var(--cubic-primary);
}

.section-clients__link:hover .section-clients__img{
    fill: var(--accent-bg-cl);
}


/* footer */


.footer{
    padding: 60px 0;
    background-color: var(--main-bg-cl);
}

.footer__join{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--footer-txt-color);

    margin-bottom: 20px;
    
}

.footer__flexbox{
    display: flex;
    align-items: baseline;
}

.footer__logo{
    display: block;
    margin-bottom: 20px;
}


.footer__item:not(:last-child){
    margin-bottom: 10px;
}
.physical-address{
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer__link{
    text-decoration: none;

    color: var(--secondary-txt-color-footer);
    color: var(--secondary-txt-color-footer);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color 250ms var(--cubic-primary);
}
.footer__link:hover,
.footer__link:focus {
    color: var(--accent-txt-cl);
}   

.social{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social__footer{
padding-bottom: 30px;
}

.social__link {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--cubic-primary);
}

.footer__nav{
    margin-right: 70px;
}
.social__icons {
    width: 20px;
    height: 20px;
    align-items: center;
    fill: var(--icons-secondary);
}

.footer .social__link:hover,
.footer .social__link:focus{
    background-color: var(--accent-bg-cl);
}

/* footer-form */

.subscription{
    margin-left: auto;
}

.subscription__header{
    display: block;
    margin-bottom: 20px;

    font-family: 'Roboto';

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-txt-color);
}

.subscription__form{
    display: flex;
    gap: 12px;
}


.subscription__input{
    width: 358px;
    height: 50px;
    border: 1px solid var(--form-border-color);
    background-color: transparent;
    border-radius: 4px;

    padding: 16px;
    outline: none;

    transition: border-color 250ms var(--cubic-primary);
}

.subscription__input:focus{
    border-color: var(--focus-form-border-color);
}

.subscription__button{
    display: inline-flex;
    background-color: var(--form-button-color);
    align-items: center;
    padding: 10px 28px;
    border: none;
    border-radius: 4px;

    color: var(--footer-txt-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--cubic-primary); 
}

.subscription__button:focus, 
.subscription__button:hover{
    background-color: var(--form-focus-button-color);
   
}

.subscription__img{
    width: 24px;
    height: 24px;
    margin-left: 10px;

    fill: currentColor;
}




/* protfolio page */



/* main section */

.page-header{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* buttons */


.button-list__item:not(:last-child) {
    margin-right: 8px;
}

.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


/* examples */


.section-examples__header{
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-examples__paragraph{

    color: var(--secondary-txt-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}

.section-examples__flexbox{
    display:flex ;
    flex-wrap: wrap;
    gap: 30px;  
}

.section-examples__item{
    flex-basis: calc((100% - 60px) / 3);

    transition: box-shadow 250ms var(--cubic-primary);
}

.section-examples__item:hover{
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-examples__text{
    padding: 20px 24px;
    border: solid 1px #EEEEEE;
    border-top: none;
}

.section-examples__thumb{
    position: relative;
    overflow: hidden;
}

.section-examples__img{
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition: transform 250ms var(--cubic-primary);
}

.section-examples__item:hover .section-examples__img{
    transform: translateY(0%);
}


.section-examples__info{
    display: block;
    
    margin: 63px 24px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;
    letter-spacing: 0.03em; 
}

.long-text{
    max-width: 322px;
}

.section-examples .button-primary:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}